/* 
    Document   : estilocursoarqui
    Created on : 20/12/2009, 09:27:01 PM
    Author     : Administrador
    Description:
        Purpose of the stylesheet follows.
*/

/* common page styles */
      body
      {	background: gray;
        padding: 0 20px}

      .clear
      {	clear: both;
        overflow: hidden;
        height: 0}

      #all
      {	width: 80%;
        min-width: 650px;
        margin: 0 auto 0 auto;
        background: #FCFFED;
        padding: 20px 35px}

      h1
      {	font: 16px calibri, tahoma, arial;
        color: black}
      h2
      {	font: 16px calibri  tahoma, arial;
        color: black}
      p
      {	font: 16px calibri, arial;
        color: black;
        margin-bottom: 25px}
      ul
      {	font: 16px calibri, arial;
        color: black;
        margin-bottom: 25px}

      a
      {	color: orange;
        font: 16px calibri, tahoma,arial}

      #copyright
      {	width: 80%;
        min-width: 650px;
        margin: 0 auto;
        padding: 20px 35px;
        background: #B6C28B;
        font: 12px tahoma, arial;
        color: #324143}

      #copyright a
      {	color: #324143}

      #copyright a:hover
      {	color: #171F26}

      #jsddm
        { margin: 0;
          padding: 0}

        #jsddm li
        {	float:left;
          list-style: none;
          font: 14px Tahoma, Arial}

        #jsddm li a
        {	display: block;
          background: #324143;
          padding: 5px 12px;
          text-decoration: none;
          border-right: 1px solid white;
          width: 70px;
          color: #EAFFED;
          white-space: nowrap}

        #jsddm li a:hover
        {	background: #24313C}

        #jsddm li ul
        {	margin: 0;
          padding: 0;
          position: absolute;
          visibility: hidden;
          border-top: 1px solid white}

        #jsddm li ul li
        {	float: none;
          display: inline}

        #jsddm li ul li a
        {	width: auto;
          background: #A9C251;
          color: #24313C}

        #jsddm li ul li a:hover
        {	background: #8EA344}
        #menu {
          width: 80%;
          margin:  0 auto;
          min-width: 650px;
          
        }